<style>
  html, body, section, article, h1, h2 p {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    background: transparent;
  }
</style>
body {
  font-family: Arial, sans-serif;
  background-color: red;
}

h1 {
  font-size: 38px;
}
